.idea
*.pyc
*.csv
/p-net/train.txt
*.caffemodel
*.solverstate
/data/egohands/lmdb/
/data/egohands/test/
/data/egohands/trainval/
/data/stanfordhands/test/
/data/stanfordhands/trainval/
/data/lmdb/
/data/test.txt
/data/trainval.txt
/model/VGG_VOC0712_SSD_300x300_iter_120000.caffemodel
/model/.ipynb_checkpoints/
/model/ssd_detect.ipynb
/model/train.log
