.idea
*.pyc
/data/detection-dataset/test_data/
/data/detection-dataset/training_data/
/data/detection-dataset/validation_data/
/data/p-net/test_data/
/data/p-net/training_data/
/data/p-net/validation_data/
/data/p-net/train_h5/
/p-net/train.txt
*.caffemodel
*.solverstate
